AI eksamen MCP interface final version.json
{
  "name": "AI eksamen MCP interface",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/mcp_message",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        -704
      ],
      "id": "36d91831-4e3c-4198-8c2f-eaeab20d62f3",
      "name": "Webhook mcp_message",
      "webhookId": "76825a5b-ea6c-4eb0-bb17-c47722ac34d4"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nif (!body || !body.payload || !body.payload.query) {\n  // Stop workflow hvis der mangler data\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      query: body.payload.query,\n      top_k: body.payload.top_k || 5,\n      instructions: body.payload.instructions || \"\",\n      reply_to: body.payload.reply_to || \"\"\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -720
      ],
      "id": "e4848b13-5d35-40e4-863e-174f646bf44a",
      "name": "Check input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Brug følgende brugerforespørgsel som input til Qdrant værktøjet: \"{{$json[\"query\"]}}\".\n\nTop K: {{$json[\"top_k\"]}}\nInstruktioner: {{$json[\"instructions\"]}}\n\nDin opgave:\n1. Brug Qdrant tool’et til at finde relevante resultater baseret på brugerens query.\n2. Returnér et kort, præcist svar baseret på indholdet i databasen.\n3. Hvis tool’et ikke returnerer noget, skal du svare: \"Ingen relevante data fundet.\"\n\nSvar altid i tekstformat.\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -272,
        -720
      ],
      "id": "781a7920-85af-4c29-94a6-9afb70c1befe",
      "name": "Archieve Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -384,
        -480
      ],
      "id": "d2bf8e8b-c58e-409f-a25b-83ec0a9b761b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yhKYsGfEWWW6oSNz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        -384
      ],
      "id": "77f41974-482f-4729-a94d-b9c21273e3a6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "yhKYsGfEWWW6oSNz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Human: Brug følgende brugerforespørgsel: \"{{$json[\"query\"]}}\"\nTop K: {{$json[\"top_k\"]}}\nInstruktioner: {{$json[\"instructions\"]}}\n\nHer er relevante dokumenter fra databasen: {{$json[\"documents\"]}}\n\nDin opgave:\n1. Lav et kort og præcist svar baseret på dokumenterne.\n2. Hvis der ikke er relevante dokumenter, skriv \"Ingen relevante data fundet.\"\n",
        "qdrantCollection": {
          "__rl": true,
          "value": "AI_eksamen",
          "mode": "list",
          "cachedResultName": "AI_eksamen"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -112,
        -544
      ],
      "id": "6f08ac54-ed92-4cd7-ab66-5c2550ee25fa",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "zoS7HTm4opb5xY6w",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      result: $json.output   // eller hvad end AI Agenten returnerer\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -720
      ],
      "id": "e12eca31-c5a7-41a3-aeb3-a6e6571c1d35",
      "name": "Send response to research agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -496
      ],
      "id": "8fd3ec77-58eb-42ba-bfdf-3753068cab46",
      "name": "Manuel override"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook mcp_message": {
      "main": [
        [
          {
            "node": "Check input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check input": {
      "main": [
        [
          {
            "node": "Archieve Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archieve Agent": {
      "main": [
        [
          {
            "node": "Send response to research agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Archieve Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Archieve Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Manuel override": {
      "main": [
        [
          {
            "node": "Check input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f9806d3-9982-4f6e-88a4-6a1511c18264",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccd121b7646c1786052dae96bfecb373c5babb24c3f3732f9bc94ba9d9a0b2af"
  },
  "id": "g2AWXJnVrjc1LxmR",
  "tags": []
}